# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django stuff:
db.sqlite3
*.pot
*.log

# Static files
staticfiles/
media/

# Local environment variables
.env

# IDE files
.vscode/
.idea/

# Pipenv specific
Pipfile.lock